.container {
    max-width: 900px;
    margin: auto;
}

#counties {
    min-height: 350px;
    width: 100%;
}

#selected-counties {
    min-width: 200px;
    width: 100%;
    min-height: 350px;
}

.select-buttons {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
}