h4 {
    padding-bottom: 4px;
    margin-bottom: 0px;
}

.container {
    width: 7in;
    margin: auto;
}

.result-chart {
    width: 100%;
    max-width: 6in;
    margin: auto;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chart-svg {
    width: 100%;
    height: 100%;
}

@media print {
    .no-print {
        display: none !important;
    }
}

#results-map {
    height: 600px;
    width: 100%;
    border: 2px solid grey;
}

.page-break-before {
    page-break-before: always;
}