.content {
    font-size: 1.0em;
}


h1 {
    line-height: 1.1em;
}

h4 {
    padding-bottom: 4px;
    margin-bottom: 0px;
}

td {
    line-height: 1.4em;
}

.container {
    width: 7in;
    margin: auto;
}

.editable {
    display: block;
}

.instruction {
    font-style: italic;
}

.result-chart {
    width: 100%;
    max-width: 6in;
    margin: auto;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chart-svg {
    width: 100%;
    height: 100%;
}



#results-map {
    height: 600px;
    width: 100%;
    border: 2px solid grey;
}

#impact-map {
    height: 600px;
    width: 100%;
    border: 2px solid grey;
}

#legend {
    font-family: "Atkinson Hyperlegible", "Roboto", "Verdana", sans-serif;
    width: 100%;
    height: 100%;
    line-height: 18px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0.9;
}

.map-title {
    font-weight: bold;
    color: black;
}

#map-select {
    appearance: none;
    outline: 0;
    background: white;
    background-image: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: 0px;
}




textarea {
    width: 100%;
    font-family: 'Atkinson Hyperlegible';
    font-size: 16px;
    line-height: 1.7em;
    color: #464848;
}

@media print {
    .no-print {
        display: none !important;
    }

    body {
        line-height: 1.3em;
    }

    .page-break-before {
        page-break-before: always !important;
    }

    .page-break-after {
        page-break-after: always;
    }

    /* .text-area textarea {
        padding: 0px;
        border: none;
        outline: none;
        box-shadow: none;
        resize: none;
        width: 100%;
        font-family: 'Atkinson Hyperlegible';
        line-height: 1.7em;
        color: #464848;
    } */
}