{% extends 'base.html' %}
{% block title %}Set Up Analysis{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/analysis.css') }}">
{% endblock%}

{% block content %}

<script>
  var config = {{ config_json | safe }};
</script>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class='container'>
<div class='section'>
  <div class='row'>
    <div class='col s12'>
      <h3><b>Analysis</b></h3>
      <p class="flow-text"><i>{{ config['program'] }}</i></p>
      <p class='flow-text'><b>Analyst:</b> {{ config['analyst'] }}</p>
      {% if config['buffers'] == True %}
        <p class="flow-text">Note: Project buffer sizes have been preset based on supplied columns.</p>
      {% endif %}
      {% if config['impatcs'] == True %}
        <p class="flow-text">Note: Project impact values have been preset based on supplied columns.</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div id="map"></div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <p><b>Change <i>all</i> project buffers:</b></p>
      <select class='browser-default' id="bulk_buffer_select" onchange="bulkBufferChange()">
        <option value="" disabled selected>Change <b>all</b> buffers to...</option>
        <option value="300">300m</option>
        <option value="500">500m</option>
        <option value="800">800m</option>
        <option value="1200">1200m</option>
      </select>
    </div>
    <div class="col s12 m6">
      <p><b>Change <i>all</i> project impacts:</b></p>
      <select class='browser-default' id="bulk_impact_select" onchange="bulkImpactChange()">
          <option value="" disabled selected>Change <b>all</b> impacts to...</option>
          <option value="up">Bump Up</option>
          <option value="mid">Normal </option>
          <option value="down">Bump Down</option>
          <option value="negative">Negative</option>
      </select>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col s12">
  <h3>Input Projects</h3>
  <form method='POST' action="/run/{{config['analysis_id']}}" enctype="multipart/form-data">
  <div class='row'>
    <div class='col s12'>
      <ul class='collection'>
        {% for project in projects %}
        <li class="collection-item avatar">
          <i class="material-icons circle">{{project['icon']}}</i>
          <span class="title">Project <b>{{project['project_id']}}</b> ({{project['type']}})</span>
          <p>{{project['details']}}</p>
          <br>
          <div class='row nobottom'>
            <p><b>Project Buffer Size</b></p>
            <select name="buffer_{{project['project_id']}}" class="buffer_select browser-default">
              {% for buffer in [300, 500, 800, 1200] %}
                {% if config['buffers'] == True %}
                  {% if project['buffer'] == buffer %}
                    <option value="{{buffer}}" selected>{{buffer}}m</option>
                  {% else %}
                    <option value="{{buffer}}">{{buffer}}m</option>
                  {% endif %}
                {% else %}
                  {% if buffer == 500 %}
                    <option value="{{buffer}}" selected>{{buffer}}m</option>
                  {% else %}
                    <option value="{{buffer}}">{{buffer}}m</option>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </select>
            <br>
            <p><b>Project Impact Factor</b></p>
            <select name="impact_{{project['project_id']}}" class="impact_select browser-default" onchange="impactChange()">
              {% for impact in ['up', 'mid', 'down', 'negative'] %}
                {% if config['impacts'] == True %}
                  {% if project['impact'] == impact %}
                    <option value="{{impact}}" selected>{{impact_dict[impact]}}</option>
                  {% else %}
                    <option value="{{impact}}">{{impact_dict[impact]}}</option>
                  {% endif %}
                {% else %}
                  {% if impact == 'mid' %}
                    <option value="{{impact}}" selected>{{impact_dict[impact]}}</option>
                  {% else %}
                    <option value="{{impact}}">{{impact_dict[impact]}}</option>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col s12'>
      <p id="message" class="red-text"></p>
      <button class="btn waves-effect waves-light yellow toronto black-text" id="submit_button" type="submit" name="action">Run Analysis
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
  </form>
</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>

<script>
  $(document).ready(function(){
    $('select').formSelect();
    impactChange();
  });

  function impactChange(){
    // Let's gather a tally of all the things
    var counts = {
      'up': 0,
      'mid': 0,
      'down': 0,
      'nagative': 0
    }
    var selects = document.getElementsByClassName("impact_select")
    for (var i = 0; i < selects.length; i++){
      var selected_item = selects[i].value
      counts[selected_item]++
    }
    // TODO: Build in logic to verify counts!
    var not_bad = counts['up'] + counts['mid'] + counts['down']
    var total_items = not_bad + counts['negative']
    // If there are even notbad, the total ups and downs should equal
    var threshold = 0;
    if(not_bad %2 != 0){
      threshold = 1;
    }
    var message = ""
    e = document.getElementById("submit_button")
    if(Math.abs(counts['up'] - counts['down']) > threshold){
      e.disabled = true;
      if(threshold == 1){
        message = "<i class='tiny material-icons'>warning</i> The difference between the number of {{impact_dict['up']}} and {{impact_dict['down']}} selections must be one or zero."
      }
      else{
        message = "<i class='tiny material-icons'>warning</i> The difference between the number of {{impact_dict['up']}} and {{impact_dict['down']}} selections must be one or zero."
      }
    }
    else{
      e.disabled = false;
    }
    document.getElementById('message').innerHTML = message;
  }

  function bulkBufferChange(){
    var bulkBufferSelect = document.getElementById("bulk_buffer_select")
    console.log(bulkBufferSelect.value)
    var selects = document.getElementsByClassName("buffer_select")
    for (var i = 0; i < selects.length; i++){
      console.log(selects[i].value)
      selects[i].value = String(bulkBufferSelect.value);
    }
  }

  function bulkImpactChange(){
    var bulkImpactSelect = document.getElementById("bulk_impact_select")
    var selects = document.getElementsByClassName("impact_select")
    console.log(bulkImpactSelect.value)
    for (var i = 0; i < selects.length; i++){
      selects[i].value = String(bulkImpactSelect.value);
    }
    impactChange();
  }
</script>

<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaflet.ajax.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/analysis.js') }}"></script>

{% endblock %}