{% extends 'base.html' %}
{% block title %}User Guide{% endblock %}
{% block head %}
{% endblock%}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class='container'>
<div class='section'>
  <div class='row'>
    <div class='col s12'>
      <h1><b>User Guide</b></h1>
      <p class="flow-text">This is the user guide for the City of Toronto Transportation Services Equity Scoring Tool (EST). In this guide, we will walk you through the use of the tool, including data preparation, running an analysis, and interpreting results.</p>
      <p class="flow-text">The EST was created to assess the equity performance of a wide variety of capital programs managed at the Transportation Services Division. The goal is to provide a quick and flexible tool to easily study the local area equity impacts of small and large projects and programs within the division by examining the sociodemographic makeup of the area surrounding the projects.</p>

      <h2>Table of Contents</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col s12 m6'>
    <div class="collection ">
      <a href="#how-it-works" class="collection-item blue-text text-darken-4">How it Works</a>
      <a href="#assembling-data" class="collection-item blue-text text-darken-4">Assembling and Cleaning Data</a>
      <a href="#buffer-sizes" class="collection-item blue-text text-darken-4">&emsp;&emsp;Buffer Sizes</a>
      <a href="#impact-factors" class="collection-item blue-text text-darken-4">&emsp;&emsp;Impact Factors</a>
      <a href="#spatial-data" class="collection-item blue-text text-darken-4">&emsp;&emsp;Spatial Data</a>
      <a href="#file-types" class="collection-item blue-text text-darken-4">&emsp;&emsp;&emsp;&emsp;File Types and Structure</a>
      <a href="#running-analysis" class="collection-item blue-text text-darken-4">Running the Analysis</a>
      <a href="#viewing-results" class="collection-item blue-text text-darken-4">Viewing and Interpreting Results</a>
      <a href="#summary-context" class="collection-item blue-text text-darken-4">&emsp;&emsp;Summary and Context</a>
      <a href="#project-scores" class="collection-item blue-text text-darken-4">&emsp;&emsp;Individual Project Scores</a>
      <a href="#flags" class="collection-item blue-text text-darken-4">&emsp;&emsp;Flags</a>
      <a href="#saving-results" class="collection-item blue-text text-darken-4">Saving Results</a>
      <a href="#issues-bugs" class="collection-item blue-text text-darken-4">Issues or Bugs</a>
      <a href="#all-flags" class="collection-item blue-text text-darken-4">List of Demographic Flags</a>
    </div>
    </div>
  </div>

  <div class='row'>
    <div class='col s12'>
    <h2 id="how-it-works">How it Works</h2>
    <div class="center-align">
    <img src="{{ url_for('static', filename='img/flowchart.png') }}" alt="A chart showing how trips and income correlated in the Greater Toronto and Hamilton Area. Increased income leads to increased trips." class="responsive-img">
    <p class="flow-text caption">A process flowchart showing the steps taken by the Equity Scoring Tool.</p>
    </div>

    <p class="flow-text">The EST takes input data consisting of spatial locations of projects or study areas, and estimates a walking buffer around the projects. This buffer is then intersected with fine-grained census profile data to estimate the relative concentration of various sociodemographic groups that leave nearby a given project's location or study area. A weighted combination of various sociodemographic groups is used to create a single “equity score” which indicates whether the local area surrounding a project contains a high or low concentration of these equity deserving groups relative to the city average. The user can provide additional information concerning the buffer size around each project, as well as an assessment of the impact of the project on local populations.</p>

    <p class="flow-text">Once this calculation is performed, a report is generated with visualisations which place the projects in context with the citywide distribution, and show the average overall score for all projects in the analysed program. These scores are designed to support evaluation and prioritisation of projects through an equity-focused lens.</p>


    <h2 id="assembling-data">Assembling and Cleaning Data</h2>

    <div class="center-align">
      <img src="{{ url_for('static', filename='img/data_prep.png') }}" alt="Data preparation table produced by qGIS." class="responsive-img bordered">
      <p class="flow-text caption">Data prepared with all required and optional columns (qGIS).</p>
    </div>

    <p class="flow-text">Performing the analysis requires some initial data preparation. The sections below outline the information that is needed. If you would like to see an example of a cleaned and validated dataset you can download one in <a href="{{ url_for('static', filename='data/pii_points.geojson') }}">GeoJSON</a> format or <a href="{{ url_for('static', filename='data/pii_points.zip') }}">Shapefile</a> format.</p>

    <h3 id="buffer-sizes">Buffer Sizes</h3>
    <p class="flow-text">Based on the project's intended or expected "zone of influence", a buffer size is needed for each project. The default buffer radius is 500 metres, however the buffer size can be 300, 500, 800, or 1200 metres. This value can be provided along with the spatial dataset (see below) or chosen manually after the projects are loaded into the analysis.</p>

    <p class="flow-text">Buffers are calculated along walkable paths using a network derived from <a href="www.openstreetmap.org">OpenStreetMap</a>. For projects consisting of lines and areas, multiple buffers are calculated along the line or perimeter of the shape in intervals of half of the specified buffer distance. These multiple buffers are then merged into a single shape representing the project buffer area.</p>

    <h3 id="impact-factors">Impact Factors</h3>

    <p class="flow-text">Based on the expected relative impact of a project, the score can be adjusted upwards, downwards, or left unadjusted. If a project has an expected negative impact on the community this can be indicated by selecting a "negative" impact, which will reverse the score (meaning that high equity impact receives a lower score). In either case, the total number of upward-adjusted scores must match the total number of downward-adjusted scores (for an odd number of projects this can differ by one). There is no restriction on the number of projects which can be set to a “negative” value or a “normal” value.</p>

    <p class="flow-text">Mathematically, the upwards adjustment multiplies the combined and standardised sociodemographic score by a factor of 1.2, the downwards adjustment multiples the combined score by a factor of 0.8, and the negative adjustment changes the sign of the scores (multiplies it by -1).</p>

    <p class="flow-text">The intent of the impact factor adjustment  is to give the analyst some flexibility to acknowledge that some projects may be of higher quality. For example, a separated and parking-protected cycle track could be considered to have a higher overall quality or impact than a painted bike lane. Because the equity score already uses nearby demographic data to compute an initial score, <b>the impact factor is not intended to be used as a reflection of the sociodemographic impact of the project.</b></p>

    <h3 id="spatial-data">Spatial Data</h3>

    <p class="flow-text">You will need to assemble a dataset of project location geospatial data. These can be created using geospatial information system software (GIS) such as ArcGIS or the free and open-source <a href="https://www.qgis.org/en/site/">qGIS</a>. Projects must be divided into three separate files based on the type of spatial data being analysed:</p>

    <ul class="browser-default flow-text">
      <li><p><b>Point data</b>, which consist of single point locations within the City of Toronto boundary.</li></p>
      <li><p><b>Line data</b>, which consist of line locations within the City of Toronto boundary.</li></p>
      <li><p><b>Area data</b>, which consist of areas covering certain portions of the City of Toronto.</li></p>
    </ul>

    <p class="flow-text">Each of these files must be prepared separately and can be analysed together, but only one of any of the three is necessary for an analysis. Each spatial file must include the following two required data columns:</p>

    <ul class="browser-default flow-text">
      <li><b><code>project_id</code></b> which contains unique identifiers for each project. These can be numbers or strings, but must be unique.</li>
      <li><b><code>details</code></b> which contain descriptive details about the project to help identify them in reporting. These can be left blank but the column must exist.</li>
    </ul>

    <p class="flow-text">Additionally, the following two optional columns may be included:</p>
    <ul class="browser-default flow-text">
      <li><b><code>buffer</code></b> which is an integer number that is either 300, 500, 800, or 1200 representing the desired analysis buffer size in metres to calculate for that project. The default setting if no value is provided is 500 metres.</li>
      <li><b><code>impact</code></b> which must be one of 'up', 'mid', 'down', or 'negative' representing the desired impact adjustment. The default 'mid' setting makes no impact adjustment, and the 'negative' setting indicates the project has an overall negative impact on the surrounding community.</li>
    </ul>

    <p class="flow-text">Any additional columns that do not match the four described above will be stripped from the file and not used in the analysis.</p>

    <h4 id="file-types">File Types and Structure</h4>

    <p class="flow-text">The program currently accepts geospatial data in <a href="https://geojson.org/">GeoJSON</a> format or <a href="https://doc.arcgis.com/en/arcgis-online/reference/shapefiles.htm">Shapefile</a> format. Shapefiles must be compressed into a zip file at the level of the folder structure, and the shapefile names must match the zip file name. While it is common to place files into a folder and zip that folder, nested folder structures will not work. A folder structure should look as follows (not all files listed below are required to be present):</p>

    <p class="flow-text"><code>
shapes.zip<br>
|--shapes.shp<br>
|--shapes.dbf<br>
|--shapes.prj<br>
|--shapes.shx<br>
|--shapes.cpg<br>
    </code></p>

    <h2 id="running-analysis">Running the Analysis</h2>
    <p class="flow-text">To start an analysis, visit the <a href='/'>home or start</a> page. Here you can provide your name and the name of the project being evaluated. Then, upload the prepared points, lines, and/or area files. If you have pre-determined the buffer sizes or impact factors for the projects in any of the uploaded files, check the appropriate boxes, and hit "Submit"</p>

    <div class="center-align">
      <img src="{{ url_for('static', filename='img/homepage.png') }}" alt="Data preparation table produced by qGIS." class="responsive-img bordered">
      <p class="flow-text caption">Home page with populated fields.</p>
    </div>

    <p class="flow-text">If there are any data errors detected during the upload process, you will be redirected to the home page and a message will appear above the file selection area. The two main errors you may encounter are:</p>

    <div class="center-align">
      <img src="{{ url_for('static', filename='img/upload_problems.png') }}" alt="Data preparation table produced by qGIS." class="responsive-img bordered">
      <p class="flow-text caption">An example of errors shown during the upload process.</p>
    </div>

    <ul class="browser-default flow-text">
      <li>You have an incorrect file structure for your zipped shapefile. See the <a href="#file-types">section on file structure</a> for details.</li>
      <li>You have uploaded an incorrect type of shape (e.g. a line file was uploaded as a point). Please double-check your input files and try again.</li>
    </ul>

    <p class="flow-text">Next, you will see a map showing the uploaded project locations and a list of the uploaded projects. You can adjust the selected buffer sizes and impact factors manually, or use the option at the top of the list to overwrite the existing values and set all buffer size or impact factors to a specified value. To run the analysis, click "Run Analysis" at the bottom of the page. If the impact factors you have chosen result in a different number of upward- and downward-adjusted scores, you will need to correct this before you can run the analysis.</p>

    <div class="center-align">
      <img src="{{ url_for('static', filename='img/analysis_setup.png') }}" alt="Data preparation table produced by qGIS." class="responsive-img bordered">
      <p class="flow-text caption">Analysis setup page. Project details are below the map display.</p>
    </div>

    <p class="flow-text">After starting the analysis, you will be redirected to a page which will update you on the status of the analysis. Depending on the number of projects uploaded, this can take anywhere from a few seconds to upwards of an hour. The status of the progress will be updated automatically every few seconds, so there is no need to refresh the page.</p>

    <div class="center-align">
      <img src="{{ url_for('static', filename='img/run_analysis.png') }}" class="responsive-img bordered">
      <p class="flow-text caption">Running the analysis. Status message is updated automatically every few seconds.</p>
    </div>

    <h2 id="viewing-results">Viewing and Interpreting Results</h2>

    <p class="flow-text">Once the analysis has finished running, a “view results” button will appear which you can click to load the final results and reporting page. The report consists of three main sections: A summary of the reports run and a context visualisation, a detailed list of results, some information on any specific demographic concentration differences or geometry issues encountered during the analysis, and a summary of the demographic category weights used in the analysis. The  section will only appear if there are generated flags during the calculation.</p>

    <div class="center-align">
      <img src="{{ url_for('static', filename='img/report.png') }}" class="responsive-img bordered">
      <p class="flow-text caption">Analysis report page.</p>
    </div>

    <h3 id="summary-context">Summary and Context</h3>

    <p class="flow-text">The summary and context section provides a visualisation and narrative paragraph of the overall project and program scores within the context of the City of Toronto distribution. The “Combined Program Score” is the average of the project scores tabulated individually in the report.</p>

    <p class="flow-text">The visualisation provides a way to look at the distribution of the projects run in the dataset overtop of the expected distribution of projects throughout the city with a 500m buffer setting and no impact adjustment. The score of each of the projects run is shown with a black vertical line on a scale from 0 to 10. The median citywide score is shown with a grey box, and the colours on the scale bar denote citywide percentiles at 5%, 25%, 75%, and 95% for red-orange, orange-yellow, yellow-green, green-blue changes respectively.</p>

    <p class="flow-text">This visualisation allows you to see if the projects in your dataset skew higher or lower than the city average in general, how spread out they are compared to the spread of the city average. Note that if you have made impact adjustments to the dataset this may affect the overall distribution and produce results that do not match the citywide distribution.</p>

    <h3 id="project-scores">Individual Project Scores</h3>

    <p class="flow-text">A table showing the ID and details of each project is provided in descending overall score order along with the final equity score for the project, the chosen buffer size, the impact set, and any demographic concentration flags identified for that project (see next section for details).</p>

    <div class="center-align">
      <img src="{{ url_for('static', filename='img/report_details.png') }}" class="responsive-img bordered">
      <p class="flow-text caption">Individual project scores tabulated with their respective input parameters.</p>
    </div>

    <h3 id="flags">Flags</h3>

    <p class="flow-text">There are two types of flags or warnings that may appear during the analysis process: demographic flags, and geoprocessing flags. </p>

    <p class="flow-text">Demographic flags are raised for a project when a specific demographic category (e.g. single mothers) has a concentration that is significantly higher or lower than the resulting combined score. This can be useful if there is a demographic category that is of significant importance in a given analysis, or if there is a desire to understand some key points about the demographic makeup surrounding a project. This does not mean the resulting score is invalid or suspect — the flag is raised for informational purposes. Specifically, the flag is raised when the difference between the standardised z-score of a demographic category and the weighted combined z-score of all demographic categories is more than 1.5 (or less than -1.5).</p>

    <p class="flow-text">Geoprocessing flags are raised when the tool is unable to follow the normal process of creating a buffer from the walking network. This can happen for two reasons:</p>

    <ul class="browser-default flow-text">
      <li>The project location is too far from the existing pedestrian network (e.g. a bike path in a new greenspace).</li>
      <li>The walking network is not dense enough (not enough intersections or nodes) to calculate a proper buffer shape.</li>
    </ul>

    <p class="flow-text">In both of these cases the tool will instead use circular buffers to calculate the surrounding demographic area. Circular buffers are typically larger than buffers which follow the walking network.</p>

    <p class="flow-text">Geoprocessing flags may also be raised if the project buffer does not intersect with census demographic data. This may happen if the buffer area falls entirely within a non-populated area, or outside of the City of Toronto.</p>

    <h3 id="saving-results">Saving the Results</h3>

    <p class="flow-text">The results webpage is designed to be printer-friendly, so you can use the "print web page" functionality to print a report or use a "print to PDF" feature to save the report to a PDF. Web-specific items such as the download button or data retention warnings will be hidden when printing.</p>

    <p class="flow-text">You can share the results via the URL found in your browser's address bar for a period of seven days. If you would like to make sure that the data is removed immediately, select the “I'm finished with this report, delete this data” at the bottom of the report. <b>Note that this will immediately delete the results and all cached data for this project.</b></p>

    <h2 id="issues-bugs">Issues or Bugs</h2>

    <p class="flow-text">If you encounter an issue or an error while using the tool, please contact Willem Klumpenhouwer at <code>willem.klumpenhouwer@utoronto.ca</code>. If possible, please provide the following details.</p>

    <ul class="flow-text browser-default">
      <li>The steps you took to produce the issue or error.</li>
      <li>The dataset you were trying to evaluate.</li>
      <li>Any messages or errors shown by the screen.</li>
      <li>The URL of the page that generated the error.</li>
    </ul>
    
    <h2 id="all-flags">List of Demographic Flags</h2>

    <p class="flow-text">The following is a comprehensive list and index of demographic flags that may be shown during an analysis.</p>

    <table>
      <thead>
        <tr>
          <th>Flag #</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>The concentration of non English speaking individuals is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>2</td>
          <td>The concentration of non English speaking individuals is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>3</td>
          <td>The concentration of individuals under 14 years of age is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>4</td>
          <td>The concentration of individuals under 14 years of age is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>5</td>
          <td>The concentration of individuals 65 years of age and older is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>6</td>
          <td>The concentration of individuals 65 years of age and older is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>7</td>
          <td>The concentration of single-mother households is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>8</td>
          <td>The concentration of single-mother households is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>9</td>
          <td>The concentration of individuals under the low-income cutoff is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>10</td>
          <td>The concentration of individuals under the low-income cutoff is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>11</td>
          <td>The concentration of unemployed individuals is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>12</td>
          <td>The concentration of unemployed individuals is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>13</td>
          <td>The concentration of individuals living in houses in need of major repair is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>14</td>
          <td>The concentration of individuals living in houses in need of major repair is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>15</td>
          <td>The concentration of individuals living in unsuitable housing is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>16</td>
          <td>The concentration of individuals living in unsuitable housing is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>17</td>
          <td>The concentration of tenants who are rent-burdened is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>18</td>
          <td>The concentration of tenants who are rent-burdened is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>19</td>
          <td>The concentration of tenants who spend more than 30% of income on housing is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>20</td>
          <td>The concentration of tenants who spend more than 30% of income on housing is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>21</td>
          <td>The concentration of recent immigrants (2011-2016) is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>22</td>
          <td>The concentration of recent immigrants (2011-2016) is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>23</td>
          <td>The concentration of Indigenous individuals is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>24</td>
          <td>The concentration of Indigenous individuals is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>25</td>
          <td>The concentration of visible minorities is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>26</td>
          <td>The concentration of visible minorities is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>27</td>
          <td>The concentration of Black individuals is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>28</td>
          <td>The concentration of Black individuals is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>29</td>
          <td>The concentration of individuals with refugee status is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>30</td>
          <td>The concentration of individuals with refugee status is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>31</td>
          <td>The concentration of people living in no-car households in the 2016 Transportation Tomorrow Survey is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>32</td>
          <td>The concentration of people living in no-car households in the 2016 Transportation Tomorrow Survey is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>33</td>
          <td>The concentration of people who made a non-car trip in the 2016 Transportation Tomorrow Survey is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>34</td>
          <td>The concentration of people who made a non-car trip in the 2016 Transportation Tomorrow Survey is much lower than the combined average.</td>
        </tr>
        <tr>
          <td>35</td>
          <td>The concentration of people whose journey to work lasted 60 minutes or more is much higher than the combined average.</td>
        </tr>
        <tr>
          <td>36</td>
          <td>The concentration of people whose journey to work lasted 60 minutes or more is much lower than the combined average.</td>
        </tr>
      </tbody>
      </table>
  </div>
</div>
</div>

{% endblock %}