{% extends 'base.html' %}
{% block title %}Report{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}">
{% endblock%}

{% block content %}
<script>
  console.log('{{ results | tojson}}')
  var results = JSON.parse('{{ results | tojson}}');
  console.log(results)
  var proj_context = JSON.parse('{{project_context | tojson}}')
</script>
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class='container'>
<div class='section'>
  <div class="row">
    <div class="col s12">
      <h1>Equity Impact Analysis Report</h1>
    </div>
  </div>
  <div class='row'>
    <div class="col s12 m4">
      <p class='flow-text'><b>Program:</b> {{program}}</p>
    </div>
    <div class="col s12 m4">
      <p class='flow-text'><b>Run by:</b> {{analyst}}</p>
    </div>
    <div class="col s12 m4">
      <p class='flow-text'><b>Run on:</b> {{date_run}}</p>
    </div>
  </div>
  {% if warning|length > 0 %}
  <div class="row">
    <div class="col s12">
          {% if warning|length == 1 %}
          <p class="flow-text"><i class="material-icons">warning</i><b>The analysis produced {{warning|length}} warning that may affect the result of projects and programs. See the <a href=#warnings>bottom of the report</a> for details.</b></p>
          {% else %}
          <p class="flow-text"><i class="material-icons">warning</i> The analysis produced {{warning|length}} warnings that may affect the result of proejcts and programs. See the <a href=#warnings>bottom of the report</a> for details.</p>
          {% endif %}
    </div>
  </div>
  {% endif %}
  <div class="print-buffer"><br></div>
  <div class='row'>
    <div class='col s12'>
        <span class="flow-text"><b>Combined Program Score: {{project_context['final_mean']}}</b></span><br>
        <div id="plot" class="svg-container"></div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="flow-text">The combined program score is the average project score calculated for the {{results|length}} analysed projects. The distribution of individual project scores are shown on the "project scores in context" chart with a black line, and are placed in the context of the city-wide distribution of project scores. The <a href=#project_details>project details</a> table below shows how each individual project scored on a scale from 0 to 10.</p>
      <p class="flow-text">The project context assumes a 500 meter buffer and no project impact adjustment.</p>
    </div>
  </div>

  <div class='row' id="project_details">
    <div class='col s12'>
      <h3>Project Details</h3>
      <table>
        <thead>
          <th>ID</th>
          <th>Details</th>
          <th>Score</th>
          <th>Buffer</th>
          <th>Impact</th>
          <th>Flags</th>
        </thead>
        <tbody>
          {% for r in results %}
            <tr>
              <td>{{r['project_id']}}</td>
              <td>{{r['details']}}</td>
              <td><b>{{r['final']}}</b></td>
              <td>{{r['buffer']}}m</td>
              <td><code>{{r['impact']}}</code></td>
              {% if r['project_id'] in project_flags.keys() %}
                <td class="flag-column">{{project_flags[r['project_id']]|join(',')}}</td>
              {% else %}
                <td class="flag-column">-</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p><b>Demographic Concentration Flags:</b></p>
      <p>
      {% for flag in flag_roster %}
        {{flag[0]}}. {{flag[1]}} <br>
      {% endfor %}
      </p>
      <p>Where not otherwise identified, data fields referenced are from the 2016 Canadian Census of Population. For a complete list of possible flags and their meaning, see the <a href="/guide">user guide</a>.</p>
      {% if warning|length > 0 %}
      <p id="warnings"><b>Geoprocessing Flags:</b></p>
      <p>During the analysis, the following geoprocessing issues were detected. See the <a href="/guide">user guide</a> for more information on what might be causing them.</p>
        {% for w in warning %}
          {{w}}<br>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
  <h3>Demographics and Weightings Used</h3>
  <p class="flow-text">The following list of demographic concentrations were used to calculate the overall score. Each concentration's relative contribution to the score is shown in the "weight" column.</p>
    <table>
  <thead>
    <tr>
      <th>Variable (% of buffer population)</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Non-English-speaking individuals</td>
      <td>0.18</td>
    </tr>
    <tr>
      <td>Individuals less than 14 years of age</td>
      <td>0.07</td>
    </tr>
    <tr>
      <td>Individuals 65 years of age and over</td>
      <td>0.07</td>
    </tr>
    <tr>
      <td>Single-mother households</td>
      <td>0.18</td>
    </tr>
    <tr>
      <td>Individuals under the low-income cutoff</td>
      <td>0.03</td>
    </tr>
    <tr>
      <td>Unemployed individuals</td>
      <td>0.03</td>
    </tr>
    <tr>
      <td>Individuals living in houses in need of major repair</td>
      <td>0.03</td>
    </tr>
    <tr>
      <td>Individuals living in unsuitable housing</td>
      <td>0.03</td>
    </tr>
    <tr>
      <td>Tenants who are rent-burdened</td>
      <td>0.03</td>
    </tr>
    <tr>
      <td>Tenants who spend 30% or more of their income on housing</td>
      <td>0.03</td>
    </tr>
    <tr>
      <td>Recent immigrants (2011-2016)</td>
      <td>0.03</td>
    </tr>
    <tr>
      <td>Indigenous individuals</td>
      <td>0.03</td>
    </tr>
    <tr>
      <td>Visible minorities</td>
      <td>0.03</td>
    </tr>
    <tr>
      <td>Black individuals</td>
      <td>0.03</td>
    </tr>
    <tr>
      <td>Individuals with refugee status</td>
      <td>0.03</td>
    </tr>
    <tr>
      <td>People living in no-car households (TTS)</td>
      <td>0.05</td>
    </tr>
    <tr>
      <td>People who made a non-car trip (TTS)</td>
      <td>0.05</td>
    </tr>
    <tr>
      <td>People whose journey to work lasted 60 minutes or more</td>
      <td>0.05</td>
    </tr>
  </tbody>
</table>
  </div>
</div>
<div class='row no-print'>
  <div class='col s12'>
    <h3>Data Download</h3>
    <p class="flow-text">You can download the raw and standardized concentrations for each project, along with the combined project scores at each stage in the calculation using the button below. See <a href="/guide">user guide</a> for more information. Buffer shapes calculate for each project are also available for download.</p>
  </div>
</div>
<div class="row no-print">
  <div class="col s12">
    <a href="/d/csv/{{uid}}" class="waves-effect waves-light btn blue toronto"><i class="material-icons right">file_download</i>download results (CSV)</a>
    <a href="/d/gpkg/{{uid}}" class="waves-effect waves-light btn blue toronto"><i class="material-icons right">file_download</i>download buffers (GPKG)</a>
    
  </div>
</div>
<div class='row no-print'>
  <div class='col s12'>
    <div class="card-panel yellow toronto">
      <p>These results will be available at this URL for the next {{timeleft}} days. If you would like to delete these results now, please click on the button below. <b>Note:</b> you will not be asked for confirmation.</p>
        <a href="/delete/{{uid}}" class="waves-effect waves-light btn red"><i class="material-icons right">delete_forever</i>delete these results forever</a>
    </div>
</div>

</div>

<script src="{{ url_for('static', filename='js/d3.v5.js') }}"></script>
<script src="{{ url_for('static', filename='js/report.js') }}"></script>

{% endblock %}