{% extends 'base.html' %}
{% block title %}Running...{% endblock %}
{% block head %}
{% endblock%}

{% block content %}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class='container'>
<div class='section'>
  <div class='row'>
    <div class='col s12'>
      <h3><b>Running Analysis...</b></h3>
      <div class="progress">
        <div id='progress_bar' class="determinate yellow toronto" style="width: 0%"></div>
      </div>
      <div id="finish_button" style="visibility:hidden">
        <a href="/r/{{analysis_id}}" class="waves-effect waves-light btn-large yellow toronto black-text">See Results<i class="material-icons right">send</i></a>
      </div>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col s12 l6'>
      <p class="flow-text"><b>Status Messages</b></p>
      <div id="statuses">
      </div>
    </div>
  </div>
</div>
</div>

<script>
    var interval_id = window.setInterval(function(){
        //Retrieve data from other stuff
        // Then go for it
        console.log("{{analysis_id}}");
        fetch('/s/{{analysis_id}}')
        .then(res => res.json())
        .then(function(data){
            // Update the progress bar
            document.getElementById('progress_bar').style = "width: " + data['progress'] + "%";
            // Update the text log
            var statuses = data['updates']
            var list_text = ""
            for (var i = 0; i < statuses.length; i++){
              list_text = list_text + "<p>" + statuses[i] + "<p>"
            }
            document.getElementById('statuses').innerHTML = list_text;
            if (data['status'] == 'finished'){
                clearInterval(interval_id);
                document.getElementById('finish_button').style.visibility = 'visible';
            }
        });
    }, 2000)
</script>

{% endblock %}