<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - TESCA</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/pure.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    {% block styles %}{% endblock %}

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!-- PAGE HEAD SPECIFICS-->
    {% block head %}{% endblock %}
</head>

<body>

    <div class="header no-print">
        <div class="home-menu pure-menu pure-menu-horizontal no-print pure-menu-fixed">
            <a class="pure-menu-heading" href="/">TESCA: Equity Comparison of Transit Scenarios</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Start</a></li>
                <li class="pure-menu-item"><a href="/guide" class="pure-menu-link">Guide</a></li>
                <li class="pure-menu-item"><a href="/counties" class="pure-menu-link">Get Block Groups</a></li>
                {# <li class="pure-menu-item"><a href="/docs" class="pure-menu-link">Documentation</a></li> #}
                <li class="pure-menu-item"><a href="/projects" class="pure-menu-link">Projects</a></li>
            </ul>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="footer no-print">
        <div class="pure-menu-heading footer-text">Built for <a href="https://transitcenter.org/">TransitCenter</a>
            by <a href="https://www.klumpentown.com/">Klumpentown Consulting</a>. Powered by <a
                href="https://github.com/conveyal/r5">R5</a>
            and <a href="https://r5py.readthedocs.io/en/stable/">R5py</a>. Version 0.1.0</div>
    </div>

</body>

</html>