{% extends 'layout.jinja2' %}

{% block title %} Start an Analysis {% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
{% endblock %}

{% block content %}
<script>
    var analysis_id = {{analysis_id | safe }};
</script>

<div class='container'>
    <h1>Data Validation</h1>
    <p>Currently <b id="status-message"></b></p>
    <div class="hide-until-ready">
        <a href="/run/{{ analysis_id }}" class="pure-button pure-button-primary">Run
            Analysis</a> <a href="/gtfs/{{ analysis_id }}" class="pure-button">View GTFS Validation
            Reports</a>
    </div>
    <h2>Detailed Log</h2>
    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Time</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody id="logtable-body">
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='js/validate.js') }}"></script>
{% endblock %}