{% extends 'layout.jinja2' %}

{% block title %} Start an Analysis {% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
{% endblock %}

{% block content %}
<div class='container'>
    <h2>This is a validation page!</h2>
</div>

{% endblock %}